.avatar-frame img.img-rounded {
    border: 1px solid #dedede;
    border-radius: 6px;
}

.avatar-frame img.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}


.panel-login-modal {
    background: transparent;
    padding-bottom: 0;
	padding-top: 10px;
}

.panel-login-modal .signin-text span {
    background: #fff;
}