#attach-panel-multi {
	display: none;
	margin-bottom: 1em;
}

#attach-row-tpl, .nojs .file-inline-bbcode {
	display: none;
}

.file-status.file-working {
	background: url('images/plupload/throbber.gif');
}

.file-status.file-uploaded {
	background: url('images/plupload/done.gif');
}

.file-status.file-error {
	background: url('images/plupload/error.gif');
}

.file-status {
	display: inline-block;
	height: 16px;
	width: 16px;
}

.file-name {
	max-width: 65%;
	vertical-align: bottom;
}
.file-progress {
    display: inline-block;
    height: 10px;
	margin-bottom:0;
    max-width: 600px;
	width: 100%;
}
.file-progress .progress-bar {
    line-height: 11px;
	font-weight: bold;
}
textarea.form-plupload {
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
	padding: 0;
    resize: none;
	height: 20px;
}
.file-size {
  font-size: 12px;
  margin-left:5px;
}

.file-status {
    margin-left: 3px;
    vertical-align: text-bottom;
}

.file-name {
    font-weight: bold;
}
.file-inline-bbcode {
    font-weight: bold;
    padding: 0;
}